.input {
  height: 40px;
  width: 100%;
  border-width: 1px;
  outline-color: #2563eb;
  border-color: transparent;
  border-style: solid;
  border-color: #6f81a5;
  font-size: medium;
  margin: 0px;
  padding: 0px 0px 0px 10px;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.input-container{
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.input-container h5{
 margin: 0px;
 z-index: 9999;
 position: absolute;
}

.select-container {
  position: relative;
  width: 100%;
}

.select {
  border-width: 1px;
  height: 50px;
  width: 100%;
  outline-color: #2563eb;
  font-size: medium;
  padding: 20px 0px 0px 8px;
  border-radius: 6px;
  border-color: #e5e7eb;
  border-style: solid;
}

.select-label {
  position: absolute;
  font-size: 16px;
  left: 13px;
  top: 3px;
  color: #6f81a5;
}

.email {
  border-radius: 6px 6px 0px 0px !important;
}

.password {
  border-radius: 0px 0px 6px 6px !important;
}
