.container {
  height: 65px ; 
  /* height: 7%; */
  background-color: #3e3e41;
  display: flex;
  flex-direction: row;
  gap: 2px;
  flex: 0 0 auto;
}

.button-icon {
  height: 100%;
  /* height: 65px; */
  flex-grow: 1;
  background-color: #52565f;
  border-width: 0px;
}

.icon{
    color: white;
    /* width: 20px; */
    /* height: 20px; */
}

.container p{
    margin: 0px;
    color: white;
    
}