
.background{
    position: absolute !important;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-size{
    padding: 30px;
    margin: 10px;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
